name: Publish Release

on:
  push:
    branches: [ main ]

jobs:
  publish-to-github:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0 # Number of commits to fetch. 0 indicates all history for all branches and tags. Default: 1

    - name: Setup GitVersion 5.7.x
      uses: gittools/actions/gitversion/setup@v0.9.10
      with:
        versionSpec: '5.7.x'
    
    - name: Execute GitVersion
      id: gitversion
      uses: gittools/actions/gitversion/execute@v0.9.10

    - name: Print app version
      run: |
        echo "InformationalVersion: ${{ steps.gitversion.outputs.informationalVersion }}"
        
    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '14.x'
        registry-url: 'https://registry.npmjs.org'
        cache: npm

    - name: Install npm dependencies
      run: npm ci

    - name: Test
      run: npm test
      
    - name: Update package.json version
      run: npm --no-git-tag-version --allow-same-version version ${{ steps.gitversion.outputs.semVer }}

    - name: Publish to npm server
      run: npm publish
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

    - name: Zipping
      uses: papeloto/action-zip@v1
      with:
        files: dist
        dest: bootstrap.lukkian.v${{ steps.gitversion.outputs.semVer }}.zip

    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: v${{ steps.gitversion.outputs.semVer }}
        release_name: bootstrap.lukkian ${{ steps.gitversion.outputs.semVer }}
        body_path: ReleaseNotes.md
        draft: false
        prerelease: false

    - name: Upload Release Asset
      id: upload-release-asset
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ${{ github.workspace }}/bootstrap.lukkian.v${{ steps.gitversion.outputs.semVer }}.zip
        asset_name: bootstrap.lukkian.v${{ steps.gitversion.outputs.semVer }}.zip
        asset_content_type: application/zip