name: Test releases and pull-requests

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ 'release/**', 'hotfix/**' ]

jobs:
  test-releases-and-pull-requests:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0 # Number of commits to fetch. 0 indicates all history for all branches and tags. Default: 1

    - name: Set up Node.js
      uses: actions/setup-node@v3.1.0
      with:
        node-version: '14.x'
        registry-url: 'https://registry.npmjs.org'
        cache: npm

    - name: Install npm dependencies
      run: npm ci

    - name: Test
      run: npm test